.full-dimension{
	position: relative;
	height: 100%;
	width:100%;
}
.test{
	background: rgba(0,0,0,0.2);
}
.ng-full-height{
	height: calc(100% - 64px) !important;
}
.full-height{
	position: relative;
	height: 100%;
}
.full-width{
	position: relative;
	width: 100%;
}
.width-90{
	position: relative;
	width: 90%;
}
.width-99{
	position: relative;
	width: 99%;
}
.white-background{
	background: #fff;
}
.scale-8{
	transform:scale(0.8);
}
.scale-13{
	transform:scale(1.3);
}
.scale-20{
	transform:scale(2.0);
}
.grey-bg{
	background: #424242;
}
.light-grey-bg{
	background: #bdbdbd;
}
.weight-600{
	font-weight: 600;
}
.weight-600{
	font-weight: 600;
}
.weight-400{
	font-weight: 400;
}
.weight-300{
	font-weight: 300;
}
.padding-20{
	padding:20px !important;
}
.padding-top-5{
	position: relative;
	padding-top: 5px !important;
}
.padding-top-10{
	position: relative;
	padding-top: 10px !important;
}
.padding-top-20{
	position: relative;
	padding-top: 20px !important;
}
.padding-top-50{
	position: relative;
	padding-top: 50px !important;
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}
.padding-0{
	padding: 0 !important;
}
.margin-0{
	margin: 0 !important;
}
.margin-top-10{
	position: relative;
	margin-top: 10px !important;
}
.margin-left-right-5{
	position: relative;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.left-shadow{
	box-shadow: -1px 0px 5px #bdbdbd;
}
.spacing-1{
	letter-spacing: 1px;
}
.pointer{
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.border-left-right{
	border-left:1px solid #616161;
	border-right:1px solid #616161;
}
.border-grey-1{
	border:1px solid #bdbdbd;
}
.color-white{
	color:white;
}
.text-white{
	color:white;
}
.text-grey{
	color:#757575;
}
.hide-overflow{
	overflow-y:hidden;
}
.pointer{
	cursor:pointer;
}