.full-dimension{
	position: relative;
	height: 100%;
	width:100%;
}
.test{
	background: rgba(0,0,0,0.2);
}
.full-height{
	position: relative;
	height: 100%;
}
.full-width{
	position: relative;
	width: 100%;
}
.width-90{
	position: relative;
	width: 90%;
}
.white-background{
	background: #fff;
}
.weight-500{
	font-weight: 600;
}
.weight-400{
	font-weight: 400;
}
.weight-300{
	font-weight: 300;
}
.padding-top-5{
	position: relative;
	padding-top: 5px !important;
}
.padding-top-10{
	position: relative;
	padding-top: 10px !important;
}
.padding-top-50{
	position: relative;
	padding-top: 50px !important;
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}
.padding-0{
	padding: 0 !important;
}
.margin-0{
	margin: 0 !important;
}
.margin-top-10{
	position: relative;
	margin-top: 10px !important;
}
.left-shadow{
	box-shadow: -0.5px 0px 5px #bdbdbd;
}
.pointer{
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.color-white{
	color:white;
}