<md-tabs class="full-dimension grey-bg"  md-center-tabs>
	<md-tab class="full-dimension" label="login">
		<div class="full-dimension padding-top-50" layout="row" layout-align="center start" 
		style="background: #e0e0e0">
			<div class="md-whiteframe-z3 white-background" layout="column" 
			layout-align="space-around center" flex="33" flex-sm="100" flex-md="60">
			<md-toolbar class="grey-bg md-tall" layout="row" layout-align="center center">
					<md-icon md-svg-src="images/icon.svg" style="transform:scale(4.2);"></md-icon>
			</md-toolbar>
				<div class="full-width padding-20" layout="column" layout-align="space-around center" layout-padding>
					<md-input-container style="width:80%;">
						<label class="robotos">Username</label>
						<input type="text" ng-model="username" value=""/>
					</md-input-container>
					<md-input-container style="width:80%;">
						<label class="robotos">Password</label>
						<input type="password" ng-model="pass" value=""/>
					</md-input-container>
					<md-button class="md-raised md-warn" style="width:80%" ng-disabled="enable()" 
					ng-click="process()">
						<span ng-show="!inProcess">Log in</span>
						<span ng-show="inProcess" style="color:#424242">Logging in..</span>
					</md-button>
					<md-progress-linear class="padding-top-10" md-mode="indeterminate" ng-show="inProcess" style="width:80%"></md-progress-linear>
				</div>
			</div>
		</div>
	</md-tab>
	<md-tab class="full-dimension" label="Sign-up">
		<div class="full-dimension padding-top-50" layout="row" layout-align="center start" 
		style="background: #e0e0e0">
			<div class="md-whiteframe-z3 white-background" layout="column" layout-align="space-around center" 
			flex="33" flex-sm="100" flex-md="60">
			<md-toolbar class="grey-bg md-tall" layout="row" layout-align="center center">
					<md-icon md-svg-src="images/icon.svg" style="transform:scale(4.2);"></md-icon>
			</md-toolbar>
				<div class="full-width padding-20" layout="column" layout-align="space-around center" layout-padding>
					<md-input-container style="width:80%;">
						<label class="robotos">Name</label>
						<input type="text" ng-model="susername" value=""/>
					</md-input-container>
					<md-input-container style="width:80%;">
						<label class="robotos">Email-Id</label>
						<input type="text" ng-model="sid" value=""/>
					</md-input-container>
					<md-input-container style="width:80%;">
						<label class="robotos">Password</label>
						<input type="password" ng-model="spass" value=""/>
					</md-input-container>
					<md-input-container style="width:80%;">
						<label class="robotos">Re-Password</label>
						<input type="password" ng-model="sre_pass" value=""/>
					</md-input-container>
					<md-button class="md-raised md-warn" style="width:80%" ng-disabled="senable()" 
					ng-click="s_process()">
						<span ng-show="!inProcess">Sign Up</span>
						<span ng-show="inProcess" style="color:#424242">Logging in..</span>
					</md-button>
					<md-progress-linear class="padding-top-10" md-mode="indeterminate" ng-show="inProcess" style="width:80%"></md-progress-linear>
				</div>
			</div>
		</div>
	</md-tab>
</md-tabs>